<div class="form-container">
  <img (click)="goHome()" src="./assets/images/karinaLogo.jpg" id="lock" style="cursor: pointer; border: 0; border-radius: 80px;">

    <span class="error" *ngIf="error">{{ error }}</span>

  <button (click)="loginFb()" class="fb" style="">Login With Facebook</button><br>
  <button (click)="loginGoogle()" class="google">Login With Google</button>
  <button routerLink="/login-email" class="email" style="">Email</button>

  <a routerLink="/signup" routerLinkActive="active" class="alc">No account? <strong>Create one here</strong></a>
</div>
